$black: #9B9B9B;
$light-blue: #E1E6ED;
$white: #fff;
$blue: #3DD5E1;

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background: $light-blue;
}
h1{
  text-align: center;
  color: darken($blue,20%);
  margin-top: 40px;
}
.btn{
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 0 20px;
  background: darken($light-blue,10%);
  color: $white;
  border: 0;
  border-radius: 50px;
  line-height: 2;
  font-size: 1.4em;
  margin-top: 20px;
  display: inline-block;
}
.btn:hover{
  background: darken($blue,20%);
}
section.card{
  width: 80%;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 1px 2px 5px transparentize($black, 0.8);
  padding: 20px 0 20px 50px;
  background: $white;
  color: $black;
  line-height: 1.5;
  &.card-main{
    color: darken($black,20%);
    box-shadow: inset 0 0 0 3px $blue, 1px 2px 5px rgba(112,112,112,0.2);
    .from::before{
      background: $blue;
      box-shadow: none;
    }
  }
  .card-content{
    h2.theme{
      font-size: 1.6em;
    }
    font-size: 1.2em;
    position: relative;
    padding: 20px 0;
    &::before{
      content: "";
      position: absolute;
      left: -22px;
      top: 50%;
      width: 1px;
      height: 100%;
      background: $black;
      transform: translate3d(-50%,-50%,0);
    }
  }
  .teacher{
    margin-left: 16px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      left: -8px;
      height: 80%;
      top: 10%;
      width: 1px;
      transform: translateX(-50%);
      background: transparentize($black, 0.5);
    }
  }
  .from,.to{
    position: relative;
    font-size: 1.2em;
    &::before{
      content: "";
      position: absolute;
      left: -22px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translate3d(-50%,-50%,0);
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px $black;
    }
  }
}
.main-content{
  min-height: calc(100vh - 100px);
  margin-bottom: 50px;
}
.footer{
  width: 100%;
  text-align: center;
  color: $white;
  background: darken($light-blue,10%);
  line-height: 50px;
}
